*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

.header img{
    width: 50px;
}

.header__menu{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.header__menu-link{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.header__menu-link:hover{
    color: blue;
}

.header__signup{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__signup-link{
    text-decoration: none;
    color: blue;
}

.header__signup-link:hover{
    text-decoration: underline;
    color: rgb(12, 12, 204);
}

.header__signup-button{
    padding: 10px 10px;
    color: red;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
}

.header__signup-button:hover{
    background-color: red;
    color: white;
}

.container1{
    width: 80%;
    margin-left: 10%;
    display: flex;
}

.container1_content{
    line-height: 40px;
}

.container1_content h3{
    font-size: 40px;
}

.container1_content i{
    color: tomato;

}

.container1 img{
    width: 50%;

}

.container1__content-button{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.container1__content-button .button1{
    padding: 10px 25px;
    background-color: tomato;
    color: white;
    border-radius: 10px;
}

.container1__content-button .button2{
    border: 0;
    background-color: white;
    font-weight: 600;
    padding: 10px 25px;
}

.container1__content-button .button2:hover{
    padding: 10px 25px;
    border: 1px solid rgb(185, 161, 161);
}

.container2{
    width: 30%;
    margin-left: 35%;
    margin-top: 50px;
    
}

.container2 h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.container2 p{
    line-height: 30px;
}

.container2__button{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container2__button button{
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 10px;
}

.container2__button button:hover{
    background-color: gray;
}

.container3{
    margin-top: 50px;
    background-color: rgb(245, 227, 225);
    display: flex;
}

.container3__content{
    margin-left: 15%;
}

.container3__content img{
    width: 200px;
    margin-bottom: 50px;
    margin-top: 100px;
}

#svg{
    margin-top: 0;
}

.container3__content h3{
    font-size: 30px;
}

.container3__content p{
    line-height: 25px;
    margin-bottom: 30px;
}

#container3_img{
    width: 40%;
    margin-right: 15%;
    margin-top: 100px;
}


.container4{
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;

}
.container4__content{
    width: 25%;
    text-align: center;
    margin: 50px 0;
    border: 1px solid rgb(143, 119, 119);
}

.container4__content i{
    font-size: 30px;
    color: red;
}

.container4__content h3, p, i{
    margin: 20px 0;
}

.container4__content p{
    color: gray;
}



.container4__content img{
    width: 200px;
    padding: 20px 0;
    margin: 0;
}

.container4 h2, p{
    line-height: 25px;
}

.footer{
    padding: 100px 0;
    display: flex;
    color: white;
    justify-content: space-around;
    background-color: rgb(1, 1, 51);
}

.footer__icon{
    width: 10%;
   display: flex;
   justify-content: space-between;
}

.footer__icon i{
   font-size: 30px;
}

hr{
    width: 80%;
    color: gray;
    margin-left: 10%;
}